body {
    font-family: Arial, Helvetica, sans-serif;
    margin-left:200px
}

h5{
    color:#565659;
    font-size:15px;
}

.title {
    font-weight: lighter;
}

.main-img {
    box-shadow: 0px 2px 5px lightgray;
}

.container{
    display: flex;
    justify-content: space-around;
    width:1200px;
    
}
.left{
    margin-right: 40px;
    margin-left: 20px;
    background-color: yellow;
}
.rating-img{
    width: 120px;
    height: 20px;
}
.right{
    width:200px;
    margin-top:100px;
    background-color: green;
}
.subject{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}